<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the departamentos_init() hook (in hooks/departamentos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="departamentos-dd-<%%VALUE(dd)%%>" class="departamentos-dd"><%%SELECT%%><%%VALUE(dd)%%><%%ENDSELECT%%></td>
		<td id="departamentos-departamento-<%%VALUE(dd)%%>" class="departamentos-departamento"><%%SELECT%%><%%VALUE(departamento)%%><%%ENDSELECT%%></td>
