<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the divpol2022vallecali_init() hook (in hooks/divpol2022vallecali.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="divpol2022vallecali-PUESTO-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-PUESTO"><%%SELECT%%><%%VALUE(PUESTO)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-dd-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-dd"><%%SELECT%%><%%VALUE(dd)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-mm-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-mm"><%%SELECT%%><%%VALUE(mm)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-zz-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-zz"><%%SELECT%%><%%VALUE(zz)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-pp-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-pp"><%%SELECT%%><%%VALUE(pp)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-departamento-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-departamento"><%%SELECT%%><%%VALUE(departamento)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-municipio-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-municipio"><%%SELECT%%><%%VALUE(municipio)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-nompue-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-nompue"><%%SELECT%%><%%VALUE(nompue)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-direccion-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-direccion"><%%SELECT%%><%%VALUE(direccion)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-mujeres-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-mujeres"><%%SELECT%%><%%VALUE(mujeres)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-hombres-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-hombres"><%%SELECT%%><%%VALUE(hombres)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-total-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-total"><%%SELECT%%><%%VALUE(total)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-mesas-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-mesas"><%%SELECT%%><%%VALUE(mesas)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-comuna-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-comuna"><%%SELECT%%><%%VALUE(comuna)%%><%%ENDSELECT%%></td>
		<td id="divpol2022vallecali-nomcomuna-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-nomcomuna"><%%SELECT%%><%%VALUE(nomcomuna)%%><%%ENDSELECT%%></td>
