<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the divpol2022valle_init() hook (in hooks/divpol2022valle.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="divpol2022valle-PUESTO-<%%VALUE(PUESTO)%%>" class="divpol2022valle-PUESTO text-bold"><%%VALUE(PUESTO)%%></td>
		<td id="divpol2022valle-dd-<%%VALUE(PUESTO)%%>" class="divpol2022valle-dd text-bold"><%%VALUE(dd)%%></td>
		<td id="divpol2022valle-mm-<%%VALUE(PUESTO)%%>" class="divpol2022valle-mm text-bold"><%%VALUE(mm)%%></td>
		<td id="divpol2022valle-zz-<%%VALUE(PUESTO)%%>" class="divpol2022valle-zz text-bold"><%%VALUE(zz)%%></td>
		<td id="divpol2022valle-pp-<%%VALUE(PUESTO)%%>" class="divpol2022valle-pp text-bold"><%%VALUE(pp)%%></td>
		<td id="divpol2022valle-departamento-<%%VALUE(PUESTO)%%>" class="divpol2022valle-departamento text-bold"><%%VALUE(departamento)%%></td>
		<td id="divpol2022valle-municipio-<%%VALUE(PUESTO)%%>" class="divpol2022valle-municipio text-bold"><%%VALUE(municipio)%%></td>
		<td id="divpol2022valle-nompue-<%%VALUE(PUESTO)%%>" class="divpol2022valle-nompue text-bold"><%%VALUE(nompue)%%></td>
		<td id="divpol2022valle-direccion-<%%VALUE(PUESTO)%%>" class="divpol2022valle-direccion text-bold"><%%VALUE(direccion)%%></td>
		<td id="divpol2022valle-mujeres-<%%VALUE(PUESTO)%%>" class="divpol2022valle-mujeres text-bold"><%%VALUE(mujeres)%%></td>
		<td id="divpol2022valle-hombres-<%%VALUE(PUESTO)%%>" class="divpol2022valle-hombres text-bold"><%%VALUE(hombres)%%></td>
		<td id="divpol2022valle-total-<%%VALUE(PUESTO)%%>" class="divpol2022valle-total text-bold"><%%VALUE(total)%%></td>
		<td id="divpol2022valle-mesas-<%%VALUE(PUESTO)%%>" class="divpol2022valle-mesas text-bold"><%%VALUE(mesas)%%></td>
		<td id="divpol2022valle-comuna-<%%VALUE(PUESTO)%%>" class="divpol2022valle-comuna text-bold"><%%VALUE(comuna)%%></td>
		<td id="divpol2022valle-nomcomuna-<%%VALUE(PUESTO)%%>" class="divpol2022valle-nomcomuna text-bold"><%%VALUE(nomcomuna)%%></td>
