<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the divpol2022_init() hook (in hooks/divpol2022.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="divpol2022-PUESTO-<%%VALUE(PUESTO)%%>" class="divpol2022-PUESTO text-bold"><%%VALUE(PUESTO)%%></td>
		<td id="divpol2022-dd-<%%VALUE(PUESTO)%%>" class="divpol2022-dd text-bold"><%%VALUE(dd)%%></td>
		<td id="divpol2022-mm-<%%VALUE(PUESTO)%%>" class="divpol2022-mm text-bold"><%%VALUE(mm)%%></td>
		<td id="divpol2022-zz-<%%VALUE(PUESTO)%%>" class="divpol2022-zz text-bold"><%%VALUE(zz)%%></td>
		<td id="divpol2022-pp-<%%VALUE(PUESTO)%%>" class="divpol2022-pp text-bold"><%%VALUE(pp)%%></td>
		<td id="divpol2022-departamento-<%%VALUE(PUESTO)%%>" class="divpol2022-departamento text-bold"><%%VALUE(departamento)%%></td>
		<td id="divpol2022-municipio-<%%VALUE(PUESTO)%%>" class="divpol2022-municipio text-bold"><%%VALUE(municipio)%%></td>
		<td id="divpol2022-nompue-<%%VALUE(PUESTO)%%>" class="divpol2022-nompue text-bold"><%%VALUE(nompue)%%></td>
		<td id="divpol2022-direccion-<%%VALUE(PUESTO)%%>" class="divpol2022-direccion text-bold"><%%VALUE(direccion)%%></td>
		<td id="divpol2022-mujeres-<%%VALUE(PUESTO)%%>" class="divpol2022-mujeres text-bold"><%%VALUE(mujeres)%%></td>
		<td id="divpol2022-hombres-<%%VALUE(PUESTO)%%>" class="divpol2022-hombres text-bold"><%%VALUE(hombres)%%></td>
		<td id="divpol2022-total-<%%VALUE(PUESTO)%%>" class="divpol2022-total text-bold"><%%VALUE(total)%%></td>
		<td id="divpol2022-mesas-<%%VALUE(PUESTO)%%>" class="divpol2022-mesas text-bold"><%%VALUE(mesas)%%></td>
