<!-- To change the layout of the detail view form, we recommend using JS code in hooks/divpol2022valle-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="divpol2022valle_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="divpol2022valle_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="divpol2022valle_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: PUESTO -->
				<div class="form-group divpol2022valle-PUESTO">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PUESTO">PUESTO</label>
					<div class="col-lg-9">
						<input maxlength="9" type="text" class="form-control" name="PUESTO" id="PUESTO" value="<%%VALUE(PUESTO)%%>" required><div class="text-danger vspacer-md" id="PUESTO-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<!-- Field: Dd -->
				<div class="form-group divpol2022valle-dd">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="dd">Dd</label>
					<div class="col-lg-9">
						<input maxlength="2" type="text" class="form-control" name="dd" id="dd" value="<%%VALUE(dd)%%>">
					</div>
				</div>

				<!-- Field: Mm -->
				<div class="form-group divpol2022valle-mm">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mm">Mm</label>
					<div class="col-lg-9">
						<input maxlength="3" type="text" class="form-control" name="mm" id="mm" value="<%%VALUE(mm)%%>">
					</div>
				</div>

				<!-- Field: Zz -->
				<div class="form-group divpol2022valle-zz">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="zz">Zz</label>
					<div class="col-lg-9">
						<input maxlength="2" type="text" class="form-control" name="zz" id="zz" value="<%%VALUE(zz)%%>">
					</div>
				</div>

				<!-- Field: Pp -->
				<div class="form-group divpol2022valle-pp">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pp">Pp</label>
					<div class="col-lg-9">
						<input maxlength="2" type="text" class="form-control" name="pp" id="pp" value="<%%VALUE(pp)%%>">
					</div>
				</div>

				<!-- Field: Departamento -->
				<div class="form-group divpol2022valle-departamento">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="departamento">Departamento</label>
					<div class="col-lg-9">
						<input maxlength="12" type="text" class="form-control" name="departamento" id="departamento" value="<%%VALUE(departamento)%%>">
					</div>
				</div>

				<!-- Field: Municipio -->
				<div class="form-group divpol2022valle-municipio">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="municipio">Municipio</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="municipio" id="municipio" value="<%%VALUE(municipio)%%>">
					</div>
				</div>

				<!-- Field: Nompue -->
				<div class="form-group divpol2022valle-nompue">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nompue">Nompue</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="nompue" id="nompue" value="<%%VALUE(nompue)%%>">
					</div>
				</div>

				<!-- Field: Direccion -->
				<div class="form-group divpol2022valle-direccion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="direccion">Direccion</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="direccion" id="direccion" value="<%%VALUE(direccion)%%>">
					</div>
				</div>

				<!-- Field: Mujeres -->
				<div class="form-group divpol2022valle-mujeres">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mujeres">Mujeres</label>
					<div class="col-lg-9">
						<input maxlength="5" type="text" class="form-control" name="mujeres" id="mujeres" value="<%%VALUE(mujeres)%%>">
					</div>
				</div>

				<!-- Field: Hombres -->
				<div class="form-group divpol2022valle-hombres">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="hombres">Hombres</label>
					<div class="col-lg-9">
						<input maxlength="5" type="text" class="form-control" name="hombres" id="hombres" value="<%%VALUE(hombres)%%>">
					</div>
				</div>

				<!-- Field: Total -->
				<div class="form-group divpol2022valle-total">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="total">Total</label>
					<div class="col-lg-9">
						<input maxlength="5" type="text" class="form-control" name="total" id="total" value="<%%VALUE(total)%%>">
					</div>
				</div>

				<!-- Field: Mesas -->
				<div class="form-group divpol2022valle-mesas">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mesas">Mesas</label>
					<div class="col-lg-9">
						<input maxlength="2" type="text" class="form-control" name="mesas" id="mesas" value="<%%VALUE(mesas)%%>">
					</div>
				</div>

				<!-- Field: Comuna -->
				<div class="form-group divpol2022valle-comuna">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="comuna">Comuna</label>
					<div class="col-lg-9">
						<input maxlength="2" type="text" class="form-control" name="comuna" id="comuna" value="<%%VALUE(comuna)%%>">
					</div>
				</div>

				<!-- Field: Nomcomuna -->
				<div class="form-group divpol2022valle-nomcomuna">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nomcomuna">Nomcomuna</label>
					<div class="col-lg-9">
						<input maxlength="30" type="text" class="form-control" name="nomcomuna" id="nomcomuna" value="<%%VALUE(nomcomuna)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="divpol2022valle_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#divpol2022valle_dv_container-loading').addClass('hidden');
			$j('#divpol2022valle_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('divpol2022valle', 'PUESTO');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'divpol2022valle',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('divpol2022valle', 'PUESTO');

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=divpol2022valle&id=<%%URLVALUE(PUESTO)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=divpol2022valle&id=<%%URLVALUE(PUESTO)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>