<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the divpol2022valle_init() hook (in hooks/divpol2022valle.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="divpol2022valle-PUESTO-<%%VALUE(PUESTO)%%>" class="divpol2022valle-PUESTO"><%%SELECT%%><%%VALUE(PUESTO)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-dd-<%%VALUE(PUESTO)%%>" class="divpol2022valle-dd"><%%SELECT%%><%%VALUE(dd)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-mm-<%%VALUE(PUESTO)%%>" class="divpol2022valle-mm"><%%SELECT%%><%%VALUE(mm)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-zz-<%%VALUE(PUESTO)%%>" class="divpol2022valle-zz"><%%SELECT%%><%%VALUE(zz)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-pp-<%%VALUE(PUESTO)%%>" class="divpol2022valle-pp"><%%SELECT%%><%%VALUE(pp)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-departamento-<%%VALUE(PUESTO)%%>" class="divpol2022valle-departamento"><%%SELECT%%><%%VALUE(departamento)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-municipio-<%%VALUE(PUESTO)%%>" class="divpol2022valle-municipio"><%%SELECT%%><%%VALUE(municipio)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-nompue-<%%VALUE(PUESTO)%%>" class="divpol2022valle-nompue"><%%SELECT%%><%%VALUE(nompue)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-direccion-<%%VALUE(PUESTO)%%>" class="divpol2022valle-direccion"><%%SELECT%%><%%VALUE(direccion)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-mujeres-<%%VALUE(PUESTO)%%>" class="divpol2022valle-mujeres"><%%SELECT%%><%%VALUE(mujeres)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-hombres-<%%VALUE(PUESTO)%%>" class="divpol2022valle-hombres"><%%SELECT%%><%%VALUE(hombres)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-total-<%%VALUE(PUESTO)%%>" class="divpol2022valle-total"><%%SELECT%%><%%VALUE(total)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-mesas-<%%VALUE(PUESTO)%%>" class="divpol2022valle-mesas"><%%SELECT%%><%%VALUE(mesas)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-comuna-<%%VALUE(PUESTO)%%>" class="divpol2022valle-comuna"><%%SELECT%%><%%VALUE(comuna)%%><%%ENDSELECT%%></td>
		<td id="divpol2022valle-nomcomuna-<%%VALUE(PUESTO)%%>" class="divpol2022valle-nomcomuna"><%%SELECT%%><%%VALUE(nomcomuna)%%><%%ENDSELECT%%></td>
