<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the divpol2022vallecali_init() hook (in hooks/divpol2022vallecali.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="divpol2022vallecali-PUESTO-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-PUESTO text-bold"><%%VALUE(PUESTO)%%></td>
		<td id="divpol2022vallecali-dd-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-dd text-bold"><%%VALUE(dd)%%></td>
		<td id="divpol2022vallecali-mm-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-mm text-bold"><%%VALUE(mm)%%></td>
		<td id="divpol2022vallecali-zz-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-zz text-bold"><%%VALUE(zz)%%></td>
		<td id="divpol2022vallecali-pp-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-pp text-bold"><%%VALUE(pp)%%></td>
		<td id="divpol2022vallecali-departamento-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-departamento text-bold"><%%VALUE(departamento)%%></td>
		<td id="divpol2022vallecali-municipio-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-municipio text-bold"><%%VALUE(municipio)%%></td>
		<td id="divpol2022vallecali-nompue-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-nompue text-bold"><%%VALUE(nompue)%%></td>
		<td id="divpol2022vallecali-direccion-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-direccion text-bold"><%%VALUE(direccion)%%></td>
		<td id="divpol2022vallecali-mujeres-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-mujeres text-bold"><%%VALUE(mujeres)%%></td>
		<td id="divpol2022vallecali-hombres-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-hombres text-bold"><%%VALUE(hombres)%%></td>
		<td id="divpol2022vallecali-total-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-total text-bold"><%%VALUE(total)%%></td>
		<td id="divpol2022vallecali-mesas-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-mesas text-bold"><%%VALUE(mesas)%%></td>
		<td id="divpol2022vallecali-comuna-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-comuna text-bold"><%%VALUE(comuna)%%></td>
		<td id="divpol2022vallecali-nomcomuna-<%%VALUE(PUESTO)%%>" class="divpol2022vallecali-nomcomuna text-bold"><%%VALUE(nomcomuna)%%></td>
